<template>
  <div class="page-wrap archive-page">
    <div class="breadcrumbs breadcrumbs-wide">
      <div class="wrap">
        <div class="wrap_float">
          <router-link to="/home">{{ datos.languagePages["page-home"].label }}</router-link> / <router-link to="/catalog">{{ datos.languagePages["page-catalog"].label }}</router-link> / <span class="current">{{this.$route.params.id}}</span>
        </div>
      </div>
    </div>
    <div class="archive-body">
      <div class="wrap">
        <div class="wrap_float">

          <h1 class="page-title">
            {{ datos.temp.item.Denominazione }}
          </h1>


          <div class="post-views post-info-views">
            {{ datos.temp.item.id }}
          </div>

          <div class="post-description">
            <p>{{datos.temp.item.Produttore}} | {{datos.temp.item.Nazione}} | {{datos.temp.item.Anno}}</p>
          </div>


          <div class="post-image-large wide">
            <img :id="displayImage('img_catalog', datos.temp.item.id, datos.temp.item.Sheet)" :alt="'Item '+ datos.temp.item.id">
            <span class="caption-text">{{ datos.temp.item.Denominazione }}</span>
          </div>


        </div>
      </div>
    </div>

    <div class="single-content wp-content">
      <div class="wrap wrap-center">
        <div class="wrap_float">

          <h2 v-if="datos.temp.item.Denominazione">
            {{ datos.temp.item.Denominazione }}
          </h2>
          <p>
            <span v-if="datos.temp.item.Produttore" v-html="'Produttore: <b>'+datos.temp.item.Produttore+ '</b><br>'"></span>
            <span v-if="datos.temp.item.Anno" v-html="'Anno: <b>'+datos.temp.item.Anno+ '</b><br>'"></span>
            <span v-if="datos.temp.item.Nazione" v-html="'Nazione: <b>'+datos.temp.item.Nazione+ '</b><br>'"></span>
          </p>
          <p v-html="datos.temp.item.Descrizione"> </p>
          <!-- h3 v-if="datos.temp.item.Peculiarita">{{ datos.temp.item.Peculiarita }}</h3 -->
          <p>
            <span v-if="datos.temp.item.Tipologia" v-html="'Tipologia: <b>'+datos.temp.item.Tipologia+ '</b><br>'"></span>
            <span v-if="datos.temp.item.Modello" v-html="'Modello: <b>'+datos.temp.item.Modello+ '</b><br>'"></span>
            <span v-if="datos.temp.item.Regione" v-html="'Regione: <b>'+datos.temp.item.Regione+ '</b><br>'"></span>
          </p>

          <div class="source-info">
            <!-- span v-if="datos.temp.item.Luogo" v-html="'Luogo: <b>'+datos.temp.item.Luogo+ '</b><br>'"></span-->
            <span v-if="datos.temp.item.Collocazione" v-html="'Collocazione: <b>'+datos.temp.item.Collocazione+ '</b><br>'"></span>
          </div>

          <figure class="block-caption">
            <img :src="'img_catalog/default_'+datos.temp.item.Sheet.replace(' ','') +'.jpg'" alt="">
            <figcaption class="caption-text"> {{ datos.temp.item.Sheet }}</figcaption>
          </figure>


          <div class="buttons">
            <router-link to="/catalog" class="btn getModal"><span>{{ datos.languageLabels["label-vai-catalog"].label }}</span></router-link>
          </div>


        </div>
      </div>
    </div>

    <div class="articles-controls">
      <router-link :to="'/item/'+datos.temp.prevNext.prev.id " class="articles-controls-item prev-article">
        <div class="articles-controls-item-wrapper">
          <div class="control-direction">Precedente</div>
          <h3 class="post-title">{{datos.temp.prevNext.prev.Denominazione}}<br>
            <small>{{datos.temp.prevNext.prev.Produttore}} | {{datos.temp.prevNext.prev.Nazione}} | {{datos.temp.prevNext.prev.Anno}}<br>
              <i>{{datos.temp.prevNext.prev.Tipologia}}</i><br></small>
          </h3>
        </div>
      </router-link>
      <router-link :to="'/item/'+datos.temp.prevNext.next.id " class="articles-controls-item next-article">
        <div class="articles-controls-item-wrapper">
          <div class="control-direction">Prossimo</div>
          <h3 class="post-title">{{datos.temp.prevNext.next.Denominazione}}<br>
            <small>{{datos.temp.prevNext.next.Produttore}} | {{datos.temp.prevNext.next.Nazione}} | {{datos.temp.prevNext.next.Anno}}<br>
              <i>{{datos.temp.prevNext.next.Tipologia}}</i><br></small>
          </h3>
        </div>
        </router-link>
    </div>




<!--
    <div class="other-posts-section section">
      <div class="wrap wrap-center">
        <div class="wrap_float">
          <h2 class="title">See also</h2>
          <div class="arrows">
            <div class="arrow prev slick-arrow" style=""></div>
            <div class="arrow next slick-arrow" style=""></div>
          </div>
          <div class="section-content">
            <div class="other-posts-slider slick-initialized slick-slider" id="js-other-posts-slider">
              <div aria-live="polite" class="slick-list"><div class="slick-track" style="opacity: 1; width: 30000px; transform: translate3d(-764px, 0px, 0px);" role="listbox"><a href="#" class="other-posts-slider-item slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1">
                <img src="img/other-post-4.jpg" alt="" class="post-bg-img">
                <div class="other-post-info">
                  <div class="post-tags">
                    <div class="tag">Mobile</div>
                    <div class="tag">APP</div>
                  </div>
                  <h3 class="post-title">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, impedit officia quibusdam.
                  </h3>
                  <div class="post-date post-info-date">
                    18 May 2021
                  </div>
                </div>
              </a><a href="#" class="other-posts-slider-item slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1">
                <img src="img/other-post-5.jpg" alt="" class="post-bg-img">
                <div class="other-post-info">
                  <div class="post-tags">
                    <div class="tag">Mobile</div>
                    <div class="tag">APP</div>
                  </div>
                  <h3 class="post-title">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, incidunt.
                  </h3>
                  <div class="post-date post-info-date">
                    18 May 2021
                  </div>
                </div>
              </a><a href="#" class="other-posts-slider-item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00">
                <img src="img/other-post.jpg" alt="" class="post-bg-img">
                <div class="other-post-info">
                  <div class="post-tags">
                    <div class="tag">Mobile</div>
                    <div class="tag">APP</div>
                  </div>
                  <h3 class="post-title">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores deleniti non neque quasi quas assumenda dolor?
                  </h3>
                  <div class="post-date post-info-date">
                    18 May 2021
                  </div>
                </div>
              </a><a href="#" class="other-posts-slider-item without-bg slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide01">
                <div class="other-post-info">
                  <div class="post-tags">
                    <div class="tag">Mobile</div>
                    <div class="tag">APP</div>
                  </div>
                  <h3 class="post-title">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis blanditiis ipsam tenetur nesciunt atque!
                  </h3>
                  <div class="post-excerption">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit ab eveniet molestias neque, quis architecto molestiae, tempore nihil illo earum odit voluptate.
                  </div>
                  <div class="post-date post-info-date">
                    18 May 2021
                  </div>
                </div>
              </a><a href="#" class="other-posts-slider-item slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide02">
                <img src="img/other-post-2.jpg" alt="" class="post-bg-img">
                <div class="other-post-info">
                  <div class="post-tags">
                    <div class="tag">Mobile</div>
                    <div class="tag">APP</div>
                  </div>
                  <h3 class="post-title">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, officiis quos?
                  </h3>
                  <div class="post-date post-info-date">
                    18 May 2021
                  </div>
                </div>
              </a><a href="#" class="other-posts-slider-item slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide03">
                <img src="img/other-post-3.jpg" alt="" class="post-bg-img">
                <div class="other-post-info">
                  <div class="post-tags">
                    <div class="tag">Mobile</div>
                    <div class="tag">APP</div>
                  </div>
                  <h3 class="post-title">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio amet eligendi, doloremque dignissimos voluptatum sit.
                  </h3>
                  <div class="post-date post-info-date">
                    18 May 2021
                  </div>
                </div>
              </a><a href="#" class="other-posts-slider-item slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide04">
                <img src="img/other-post-4.jpg" alt="" class="post-bg-img">
                <div class="other-post-info">
                  <div class="post-tags">
                    <div class="tag">Mobile</div>
                    <div class="tag">APP</div>
                  </div>
                  <h3 class="post-title">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, impedit officia quibusdam.
                  </h3>
                  <div class="post-date post-info-date">
                    18 May 2021
                  </div>
                </div>
              </a><a href="#" class="other-posts-slider-item slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide05">
                <img src="img/other-post-5.jpg" alt="" class="post-bg-img">
                <div class="other-post-info">
                  <div class="post-tags">
                    <div class="tag">Mobile</div>
                    <div class="tag">APP</div>
                  </div>
                  <h3 class="post-title">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, incidunt.
                  </h3>
                  <div class="post-date post-info-date">
                    18 May 2021
                  </div>
                </div>
              </a><a href="#" class="other-posts-slider-item slick-slide slick-cloned" data-slick-index="6" aria-hidden="true" tabindex="-1">
                <img src="img/other-post.jpg" alt="" class="post-bg-img">
                <div class="other-post-info">
                  <div class="post-tags">
                    <div class="tag">Mobile</div>
                    <div class="tag">APP</div>
                  </div>
                  <h3 class="post-title">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores deleniti non neque quasi quas assumenda dolor?
                  </h3>
                  <div class="post-date post-info-date">
                    18 May 2021
                  </div>
                </div>
              </a><a href="#" class="other-posts-slider-item without-bg slick-slide slick-cloned" data-slick-index="7" aria-hidden="true" tabindex="-1">
                <div class="other-post-info">
                  <div class="post-tags">
                    <div class="tag">Mobile</div>
                    <div class="tag">APP</div>
                  </div>
                  <h3 class="post-title">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis blanditiis ipsam tenetur nesciunt atque!
                  </h3>
                  <div class="post-excerption">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit ab eveniet molestias neque, quis architecto molestiae, tempore nihil illo earum odit voluptate.
                  </div>
                  <div class="post-date post-info-date">
                    18 May 2021
                  </div>
                </div>
              </a></div></div>

            </div>
          </div>
        </div>
      </div>
    </div>
-->





  </div>
</template>
<script>
let namo = "page-item";
var dataToUse = {};
var dataPrevNext = {};
module.exports = {
  name: namo,
  props: ['dati'],
  data: function () {
    return {datos: dati}
  },
  components: {},
  created: function () {
    if (inDebug) console.log(namo + " created");
  },
  mounted: function () {
    if (inDebug) console.log(namo + " mounted");
    if (inDebug) console.log(this.$route.name ? this.$route.name + " " + this.$route.params.id + " " + this.$route.params : namo)
    //this.displayImage2("img_catalog","#itemImage");
  },
  updated: function () {
    console.log("UPDATED", this.$route.params.id)
  },
  methods: {
    createDefault() {
      return {id: 0}
    },
    displayImage(folder, id, Sheet) {
      var imageId = "item-"+id;
      var imageToUse = folder+"/" + id + ".jpg";
      var imageDefault = folder+"/default_"+ Sheet.replace(" ", "_")+".jpg";
      catalog_putImage(imageToUse, imageId, imageDefault)
      return imageId;
    },
    displayImage2(folder, imageId) {
      var imageToUse = folder+"/" + dati.temp.item.id + ".jpg";
      var imageDefault = folder+"/default_"+dati.temp.item.Sheet.replace(" ", "_")+".jpg";
      catalog_checkImage(imageToUse, function(){ jQuery(imageId).attr("src", imageToUse) }, function(){ jQuery(imageId).attr("src", imageDefault) } );
    },
  },
  computed: {}
}
</script>
<style scoped>
.source-info { margin-top: 10px; }
.caption-text, .wp-caption-text {
  display: block;
  clear: both;
}
.block-caption img {
  width: 25%;
  clear: both;
}
</style>


