<template>
  <div class="page-wrap archive-page">
    <div class="breadcrumbs breadcrumbs-wide">
      <div class="wrap">
        <div class="wrap_float">
          <router-link to="/home">{{ datos.languagePages["page-home"].label }}</router-link> / <router-link to="/gallery">{{ datos.languagePages["page-gallery"].label }}</router-link> / <span class="current">{{this.$route.params.id}}</span>
        </div>
      </div>
    </div>
    <div class="archive-body">
      <div class="wrap">
        <div class="wrap_float">
          <div class="post-tags" v-html="renderTags(item)"></div>
          <h3>{{item.Sopratitolo}}</h3>
          <h1 class="page-title">
            {{ item.Titolo }}
          </h1>

          <div class="post-info">
            <a href="#" class="post-author post-info-author">
              <div class="author-image">
                <img src="img_gallery/author.png" alt="" class="image-cover">
              </div>
              <span>{{item.Autore}}</span>
            </a>
            <div class="post-date post-info-date">
              {{item.Data}}
            </div>
            <div class="post-views post-info-views">
              {{ item.id }}
              <span v-if="item.Categoria" v-html="' | ' + item.Categoria"></span>
            </div>
          </div>

          <div class="post-description">
            <p>{{item.Sottotitolo}}</p>
          </div>

          <div class="post-image-large wide">
            <img :id="displayImage('img_gallery', item.Image, item.id)" :alt="'Item '+ item.id">
            <span class="caption-text"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="single-content wp-content">
      <div class="wrap wrap-center">
        <div class="wrap_float">

          <h2 v-if="item.Brief"  v-html="item.Brief">
          </h2>
          <p v-if="item.Testo" >
            <span v-html="item.Testo"></span>
          </p>
          <p v-if="item.Testo2" >
            <span v-html="item.Testo2"></span>
          </p>
          <!-- div class="source-info"><span v-if="item.Categoria" v-html="item.Categoria"></span></div -->

          <div class="buttons">
            <router-link to="/gallery" class="btn getModal"><span>{{ datos.languageLabels["label-vai-gallery"].label }}</span></router-link>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>
<script>
let namo = "page-media";
var dataToUse = {};
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    dataToUse = {};
    var trovato = false;
    if (this.$route.params.id) {
      for (var i = 0; i < dati.gallery.length; i++) {
        if (dati.gallery[i].id == this.$route.params.id) {
          { dataToUse = dati.gallery[i]; trovato = true;}
        }
      }
    }
    if (!trovato) {
      dataToUse = this.createDefault();
    }
    return {datos: dati, item: dataToUse}
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted" );
    if (inDebug) console.log( this.$route.name? this.$route.name + " " +this.$route.params.id + " " + this.$route.params : namo)
  },
  methods: {
    createDefault() {
      return {id:0}
    },
    displayImage(folder, image, id) {
      var imageId = "item-"+id;
      var imageToUse = folder+"/" + image;
      var imageDefault = folder+"/default.png";
      catalog_putImage(imageToUse, imageId, imageDefault)
      return imageId;
    },
    renderTags(item) {
      var tout = "";
      if (item.Tags && item.Tags.length>0 && item.Tags.indexOf(";")>=0) {
        var spl = item.Tags.split(";");
        for (var n=0; n<spl.length; n++) {
          tout += '<div class="tag">'+spl[n]+'</div>'
        }
      }
      return tout;
    }
  },
  computed: {

  }
}
</script>


