	* {
		font-family: 'Poppins';
		font-size: 14px;
	}
	html, body, div
	{
		padding:0;
		margin: 0;
	}
	body
	{
		width:100%; height:100%; margin: 0; overflow: hidden;
		background-color: #000; color: #ddd;
	}
	canvas
	{
		position: absolute; display: block; 
		left:0;	top:0;
		background-color:rgba(0,0,0,1);
	}
	#animation_container {
		padding:0;
		margin: 0;
		position:absolute;  
		
		width:1280px; height:720px;
		background-color:rgba(0,0,0,1);
		-ms-transform-origin: top left;
		-webkit-transform-origin: top left;
		transform-origin: top left;
	}
	#_preload_div_ {
		position:absolute;
		margin:auto;
		left:0;right:0;
		top:0;bottom:0;
	}
	#gui_container { 
		position:absolute;
		left:0; bottom:0;
		width:75%;
		max-height:700px;
		padding: 10px;
		margin: 0 0 50px 29px;
		background-color: rgba(0,0,0, 0.5);
		display:none;
	}
	#gui_toggle { 
		display:block; 
		position:absolute;
		left:0; bottom:0;
		width:50px;
		height:50px;
		line-height:50px;
		overflow:hidden;
		padding: 0;
		margin:0;
		background-color: rgba(0,0,0, 0.7);
		text-align:center;
		font-size: 25px;
		font-weight:bold;
		text-decoration:none;
		color:#ffffff;
		border: 5px solid #fff;
	}	
	#gui_back { 
		display:block; 
		position:absolute;
		left:0; top:0;
		width:50px;
		height:50px;
		line-height:50px;
		overflow:hidden;
		padding: 0;
		margin:0;
		background-color: rgba(0,0,0, 0.7);
		text-align:center;
		font-size: 25px;
		font-weight:bold;
		text-decoration:none;
		color:#ffffff;
		border: 4px solid #fff;
	}
    /***************************************************
     * Generated by SVG Artista on 6/22/2021, 12:50:56 PM
     * MIT license (https://opensource.org/licenses/MIT)
     * W. https://svgartista.net
     **************************************************/

    svg .svg-elem-1 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s;
    }

    svg.active .svg-elem-1 {
        fill: rgb(0, 178, 107);
    }

    svg .svg-elem-2 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    }

    svg.active .svg-elem-2 {
        fill: rgb(0, 192, 243);
    }

    svg .svg-elem-3 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6000000000000001s;
    }

    svg.active .svg-elem-3 {
        fill: rgb(255, 203, 5);
    }

    svg .svg-elem-4 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7000000000000001s;
    }

    svg.active .svg-elem-4 {
        fill: rgb(239, 65, 61);
    }

    svg .svg-elem-5 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    }

    svg.active .svg-elem-5 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-6 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
    }

    svg.active .svg-elem-6 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-7 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
    }

    svg.active .svg-elem-7 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-8 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
    }

    svg.active .svg-elem-8 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-9 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
    }

    svg.active .svg-elem-9 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-10 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
    }

    svg.active .svg-elem-10 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-11 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s;
    }

    svg.active .svg-elem-11 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-12 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    }

    svg.active .svg-elem-12 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-13 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
    }

    svg.active .svg-elem-13 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-14 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
    }

    svg.active .svg-elem-14 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-15 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8000000000000003s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8000000000000003s;
    }

    svg.active .svg-elem-15 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-16 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9s;
    }

    svg.active .svg-elem-16 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-17 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
    }

    svg.active .svg-elem-17 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-18 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
    }

    svg.active .svg-elem-18 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-19 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
    }

    svg.active .svg-elem-19 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-20 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3000000000000003s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3000000000000003s;
    }

    svg.active .svg-elem-20 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-21 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4s;
    }

    svg.active .svg-elem-21 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-22 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
    }

    svg.active .svg-elem-22 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-23 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
    }

    svg.active .svg-elem-23 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-24 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s;
    }

    svg.active .svg-elem-24 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-25 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8000000000000003s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8000000000000003s;
    }

    svg.active .svg-elem-25 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-26 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9s;
    }

    svg.active .svg-elem-26 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-27 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 3s;
    }

    svg.active .svg-elem-27 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-28 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 3.1s;
    }

    svg.active .svg-elem-28 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-29 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 3.2s;
    }

    svg.active .svg-elem-29 {
        fill: rgb(255, 255, 255);
    }

    svg .svg-elem-30 {
        fill: transparent;
        -webkit-transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3000000000000003s;
        transition: fill 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 3.3000000000000003s;
    }

    svg.active .svg-elem-30 {
        fill: rgb(255, 255, 255);
    }


