<template>

  <section class="banner-section" :style="'background-image: url(img_banner/'+ banner[0].img +');'">
    <div class="wrap wrap-center">
      <div class="wrap_float">
        <div class="section-content">
          <div class="location" v-html="banner[0].overtitle"></div>
          <h2 class="page-title" v-html="banner[0].title">
          </h2>
          <p class="subtitle" v-html="banner[0].description">
          </p>
          <div class="buttons">
            <!-- a data-href="#book-now" class="btn getModal"><span>Book Now</span></a -->
            <router-link to="/catalog" class="btn border-btn"><span>{{ languageLabels["label-vai-catalogo"].label }}</span></router-link>
          </div>
        </div>
      </div>
    </div>
  </section>

</template>

<script>
let namo = "home-banner";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },
  created: function (){
    if (inDebug) console.log(namo + " created " + this.$route.name)
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted " + this.$route.name)
    $( document ).ready(function() {

    });
  },
  methods: {

  }
}
</script>
<style scoped>
</style>