<template>

  <div class="instagram-section section">
    <div class="wrap">
      <div class="wrap_float instagram-posts-list" id="instagram-posts">
        <router-link class="instagram-post-item" v-for="(item,index) in catalogRandom" v-if="index < 10"
                     :to="'/item/'+item.id">
          <img :id="displayImage('img_catalog', item.id, item.Sheet)" :alt="'Item '+ item.id">
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
let namo = "home-prodotti";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },
  created: function (){
    if (inDebug) console.log(namo + " created " + this.$route.name)
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted " + this.$route.name);
    dati.catalogRandom.shuffle();
    $( document ).ready(function() {

    });
  },
  methods: {
  displayImage(folder, id, Sheet) {
    var imageId = "item-"+id;
    var imageToUse = folder+"/" + id + ".jpg";
    var imageDefault = folder+"/default_"+ Sheet.replace(" ", "_")+".jpg";
    catalog_putImage(imageToUse, imageId, imageDefault)
    return imageId;
  }
  }
}
</script>
<style scoped>
</style>