<template>


  <section class="packages-section section center-title-section js-slider-block">
    <div class="wrap">
      <div class="wrap_float">
        <h2 class="title">{{ languagePages["page-events-home"].label }}</h2>
        <!-- div class="subtitle">Trips we’d love to go on right now</div -->
        <div class="section-content">
          <div class="packages-slider">

            <router-link v-for="(item, index) in events"
                         :to="'/event/'+item.id" class="packages-item"> <!-- without-bg post-favourites-item sticky -->
              <div class="shadow js-shadow"></div>
              <div class="bg-img" :style="'background-image: url(img_events/'+item.Image+')'"></div>

              <div class="packages-item-head">
                <div class="packages-cost"><span class="days">{{ item.Sopratitolo }}</span> <span class="cost-val">  {{ item.Data }}</span></div>
                <div class="favorites-tag added js-add-to-fav">
                  <i class="is-added bouncy"></i>
                  <i class="not-added bouncy"></i>
                  <span class="fav-overlay"></span>
                </div>
              </div>
              <div class="packages-item-foot">
                <h3 class="packages-title">{{item.Titolo}}</h3>
                <div class="location">{{item.Sottotitolo}}</div>
              </div>
            </router-link>
          </div>

        </div>
      </div>
  </section>
</template>

<script>
let namo = "home-events";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },
  created: function (){
    if (inDebug) console.log(namo + " created " + this.$route.name)
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted " + this.$route.name)
    //Slider "tour-slider"
    if (jQuery(".packages-slider").length) {
      jQuery('.packages-slider').each(function (key, item) {

        var sliderParent = jQuery(this).parents(".js-slider-block");
        var sliderIdName = 'packages-slider-' + key;
        this.id = sliderIdName;
        var sliderId = '#' + sliderIdName;

        sliderParent.attr("id", 'js-slider-block-' + key);

        if (jQuery(sliderId).hasClass("single-packages-slider")) {
          var slides = 2,
              dots = false;
        } else {
          slides = 3,
              dots = true;
        }

        jQuery(sliderId).slick({
          arrows: true,
          dots: dots,
          slidesToShow: slides,
          slidesToScroll: 1,
          infinite: true,
          fade: false,
          focusOnSelect: false,
          swipe: true,
          touchMove: false,
          draggable: false,
          autoplay: false,
          variableWidth: true,
          centerMode: false,
          prevArrow: jQuery('#js-slider-block-' + key + ' .arrow.prev'),
          nextArrow: jQuery('#js-slider-block-' + key + ' .arrow.next'),
          speed: 300,
          responsive: [
            {
              breakpoint: 1000,
              settings: {
                slidesToShow: 2
              }
            }
          ]
        });

      });
    }
    //Slider "tour-slider"
  },
  methods: {

  }
}
</script>
<style scoped>
</style>