<template>
  <section class="faq-section section">
    <div class="wrap">
      <div class="wrap_float">
        <div class="section-left">
          <h2 class="title">{{ languageLabels["label-faqs-title"].label }}</h2>
          <div class="subtitle">
            {{ languageLabels["label-faqs-text"].label }}
            <br>
            <br>
            <div class="buttons">
              <router-link to="/contacts" class="btn getModal"><span>{{ languageLabels["label-vai-contatti"].label }}</span></router-link>
            </div>
          </div>
        </div>
        <div class="section-right">
          <div class="accordion-block with-border">
            <div class="accordion-item" v-for="(item,index) in faqs">
              <div class="accordion-item-title">
                <span v-html="item.title"></span>
              </div>
              <div class="accordion-item-content">
                <p v-html="item.content"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
let namo = "home-faqs";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },
  created: function (){
    if (inDebug) console.log(namo + " created " + this.$route.name)
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted " + this.$route.name)
    $( document ).ready(function() {

    });
  },
  methods: {

  }
}
</script>
<style scoped>
</style>