<template>
  <section class="collection-section section center-title-section">
    <div class="wrap">
      <div class="wrap_float">
        <h2 class="title">{{ languagePages["page-gallery-home"].label }}</h2>
        <!-- div class="subtitle">Trips we’d love to go on right now</div -->
        <div class="section-content">
          <div class="collection-list grid">
            <router-link v-for="(item, index) in gallery"
                         :to="'/media/'+item.id" class="collection-list-item">
              <div v-if="item.Image.indexOf('mp4')>0" class="video-bg js-video-bg bg-img image-cover" :data-video="'img_gallery/'+item.Image"></div>
          <img v-else :src="'img_gallery/'+item.Image" :alt="item.Titolo" class="image-cover bg-img">
              <div class="collection-list-item-wrap">
                <h3 class="collection-title">{{ item.Titolo }}</h3>
                <div class="collection-subtitle">{{ item.Sottotitolo }}</div>
              </div>
            </router-link>
          </div>
          <!-- div class="show-more">
            <div class="show-more-btn">
              <span>Show more</span>
            </div>
            <div class="loader">
              <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
              </svg>
            </div>
          </div -->
        </div>
      </div>
    </div>
  </section>

</template>

<script>
let namo = "home-gallery";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },
  created: function (){
    if (inDebug) console.log(namo + " created " + this.$route.name)
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted " + this.$route.name)
    $( document ).ready(function() {

    });
  },
  methods: {

  }
}
</script>
<style scoped>
</style>