<template>
  <section class="slider-section js-fix-height" :id="'js-slider-section-'+rando">
    <div class="slide" v-for="(item, index) in datos.jumbo">
      <div class="slide__wrap">
        <div class="slide__img">
          <img v-if="item.img.indexOf('mp4')< 0" :src="'img_jumbo/'+item.img" alt="">
          <div v-else class="video-bg js-video-bg image-cover" :data-video="'img_jumbo/'+item.img"></div>
        </div>
        <div class="wrap">
          <div class="wrap_float js-fix-height">
            <div class="slide-content">
              <div class="location">{{item.overtitle}}</div>
              <h2 class="slide-title">{{item.title}}</h2>
              <p class="slide-description">{{item.description}}</p>
              <div class="buttons">
                <router-link v-if="item.link1_href != '' && item.link1_title != '' && item.link1_href.charAt(0) == '/'" :to="item.link1_href" class="btn getModal">
                  {{ item.link1_title }}</router-link>
                <a  v-if="item.link1_href != '' && item.link1_title != '' && item.link1_href.charAt(0) == '#'" href="#" class="btn getModal" :data-href="item.link1_href"><span>{{ item.link1_title }}</span></a>
                <a v-if="item.link1_href != '' && item.link1_title != '' && item.link1_href.indexOf('http') >= 0" :href="item.link1_href" class="btn getModal" target="_blank"><span>{{ item.link1_title }}</span></a>

                <router-link v-if="item.link2_href != '' && item.link2_title != '' && item.link2_href.charAt(0) == '/'" :to="item.link2_href" class="btn border-btn">
                  {{ item.link2_title }}</router-link>
                <a  v-if="item.link2_href != '' && item.link2_title != '' && item.link2_href.charAt(0) == '#'" href="#" class="btn getModal" :data-href="item.link2_href"><span>{{ item.link2_title }}</span></a>
                <a v-if="item.link2_href != '' && item.link2_title != '' && item.link2_href.indexOf('http') >= 0" :href="item.link2_href" class="btn border-btn"  target="_blank"><span>{{ item.link2_title }}</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
let namo = "home-jumbo";
var rando = Math.round( Math.random()*99999999999 );
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return {datos: dati, rando: rando}
  },
  components: {
  },
  beforeCreate: function() {
    rando = Math.round( Math.random()*99999999999 );
  },
  created: function (){
    if (inDebug) console.log(namo + " created " + this.$route.name)

  },
  mounted: function () {
    if (inDebug) console.log(namo + " mounted " + this.$route.name)
    setTimeout( this.doSlider, 50);
  },
  updated: function() {
    if (inDebug) console.log(namo + " updated " + this.$route.name)
  },
  methods: {
    doSlider(e) {
      //Slider "travel"
      var sliderName = "#js-slider-section-"+rando;
      //if (inDebug) console.log(">>> >>> RANDO", rando, sliderName)
      jQuery(sliderName+' .slide').removeClass("is-processing");
      try { jQuery(sliderName).slick('unslick'); } catch(e) {}
      if (jQuery(sliderName).length) {
        if (jQuery(sliderName).hasClass('slick-initialized')) {

          //if (inDebug) console.log(">>> >>> SLICK REINIT", jQuery(sliderName).length)
          jQuery(sliderName).slick('reinit'); //refresh
        } else {
          //if (inDebug) console.log(">>> >>> SLICK START", jQuery(sliderName).length)
          jQuery(sliderName).slick({
            arrows: false,
            dots: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            fade: true,
            focusOnSelect: false,
            pauseOnHover: false,
            pauseOnFocus: false,
            swipe: true,
            touchMove: false,
            draggable: false,
            autoplay: true,
            variableWidth: true,
            centerMode: false,
            speed: 1000,
            autoplaySpeed: 3000
          });
          jQuery(sliderName).off('beforeChange', '**').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
            var thisSlide = jQuery(sliderName+' .slick-current');
            var nextSlide = jQuery(slick.$slides[nextSlide]);
            thisSlide.addClass("is-processing");
            setTimeout(function () {
              thisSlide.removeClass("is-processing");
            }, 800);
          });
        }
        if (!device.desktop() && device.portrait()) {
          jQuery("body").append("<div id='setHeight' style='position:fixed; top:0; bottom:0;left:0;right:0;z-index:-10'></div>")
          var browserHeight = jQuery("#setHeight").innerHeight();
          jQuery("#setHeight").remove();
          jQuery(".js-fix-height").innerHeight(browserHeight);
        }
      }
      //Slider "travel"
    }
  }
}
</script>
<style scoped>
</style>