<template>
  <section class="posts-section news-section section">
    <div class="wrap">
      <div class="wrap_float">
        <h2 class="title">{{ languagePages["page-pubs-home"].label }}</h2>
        <div class="section-content">
          <div class="post-items-list posts-three-columns">
            <router-link v-for="(item, index) in pubs"
                         :to="'/pub/'+item.id" :class="renderClass(item)"> <!-- without-bg post-favourites-item sticky -->
              <div v-if="item.Image.indexOf('mp4')>0" class="video-bg js-video-bg" :data-video="'img_news/'+item.Image"></div>
              <img v-else :src="'img_pubs/'+item.Image" :alt="item.Titolo" class="post-bg-img">
              <div class="post-tags" v-html="renderTags(item)">
              </div>
              <h3 class="post-title">{{item.Titolo}}
              </h3>
              <div class="post-info">
                <div class="post-author post-info-author">
                  <div class="author-image">
                    <img src="img_pubs/author.png" alt="" class="image-cover">
                  </div>
                  <span>{{item.Autore}}</span>
                </div>
                <div class="post-date post-info-date">
                  {{ item.Data }}
                </div>
                <div class="post-views post-info-views">
                  {{ item.id }}
                </div>
              </div>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
let namo = "home-pubs";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },
  created: function (){
    if (inDebug) console.log(namo + " created " + this.$route.name)
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted " + this.$route.name)
    $( document ).ready(function() {

    });
  },
  methods: {
    renderClass(item) {
      var cout = "post-item";
      if (item.Image.indexOf("mp4")>0 ) cout+= " post-with-video"; //without-bg
      return cout;
    },
    renderTags(item) {
      var tout = "";
      if (item.Tags && item.Tags.length>0 && item.Tags.indexOf(";")>=0) {
        var spl = item.Tags.split(";");
        for (var n=0; n<spl.length; n++) {
          tout += '<div class="tag">'+spl[n]+'</div>'
        }
      }
      return tout;
    }
  }
}
</script>
<style scoped>
</style>