@font-face {
  font-family: "Minimal5x7";
  src: url("Minimal5x7.woff") format("woff"), /* Modern Browsers */
    url("Minimal5x7.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Minimal5x5Monospaced";
  src: url("Minimal5x5Monospaced.woff") format("woff"), /* Modern Browsers */
    url("Minimal5x5Monospaced.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Minimal3x5";
  src: url("Minimal3x5.woff") format("woff"), /* Modern Browsers */
    url("Minimal3x5.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}