<template>
  <!-- FOOTER_START -->
  <div class="footer">
    <div class="wrap">
      <div class="wrap_float">
        <div class="footer-top">
          <div class="footer-column first-column">
            <div class="logo"><img src="img/elettrologo.svg" class="elettrologo">elettroLudica</div>
            <div class="text">Museo dell'Intrattenimento Elettronico</div>
          </div>
          <div class="footer-column">
            <div class="column-title">{{ languageLabels["footer-title-col1"].label }}</div>
            <ul class="footer-ul">
              <li v-if="config.pages.about"><router-link to="/about">{{ languagePages["page-about"].label }}</router-link></li>
              <li v-if="config.pages.location"><router-link to="/location">{{ languagePages["page-location"].label }}</router-link></li>
              <li v-if="config.pages.contacts"><router-link to="/contacts">{{ languagePages["page-contacts"].label }}</router-link></li>
              <li v-if="config.pages.donate"><router-link to="/donate">{{ languagePages["page-donate"].label }}</router-link></li>
            </ul>
          </div>
          <div class="footer-column">
            <div class="column-title">{{ languageLabels["footer-title-col2"].label }}</div>
            <ul class="footer-ul">
              <li v-if="config.modules.catalog"><router-link to="/catalog">{{ languagePages["page-catalog"].label }}</router-link></li>
              <li v-if="config.pages.mappa"><router-link to="/map">{{ languagePages["page-map"].label }}</router-link></li>
              <li v-if="config.pages.tour"><router-link to="/tour">{{ languagePages["page-tour"].label }}</router-link></li>
              <li v-if="config.modules.news"><router-link to="/news">{{ languagePages["page-news"].label }}</router-link></li>
              <li v-if="config.modules.events"><router-link to="/events">{{ languagePages["page-events"].label }}</router-link></li>
            </ul>
          </div>
          <div class="footer-column contacts-column">
            <div class="column-title">{{ languageLabels["footer-title-col3"].label }}</div>
            <ul class="footer-ul">
              <li>
                Via Sandro Pertini, 105 <br>
                67051 Avezzano (AQ)
              </li>
              <li>
                {{ languageLabels["footer-title-col3b"].label }} <br>
                <a href="mailto:info@elettroludica.it" class="contacts-link">info@elettroludica.it</a>
              </li>
            </ul>
          </div>
          <div class="footer-column socials-column">
            <div class="socials">
              <a href="https://www.facebook.com/elettroLudica" class="soc-link">
                <img src="img/facebook-icon.svg" class="img-svg" alt="">
              </a>
              <a href="https://twitter.com/elettroLudica" class="soc-link">
                <img src="img/twitter-soc-icon.svg" class="img-svg" alt="">
              </a>
              <a href="https://www.instagram.com/elettroludica" class="soc-link">
                <img src="img/instagram-icon.svg" class="img-svg" alt="">
              </a>
              <a class="soc-link" href="https://www.youtube.com/channel/UChtXJSE9k5fWEjIoh-7Ae6w">
                <img src="img/youtube-icon.svg" class="img-svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-footnote">
        <p class="text">© 2021 Associazione Culturale <b>elettroLudica</b>. {{ languageLabels["footer-diritti"].label }}. P.IVA 01991080662<!-- br class="br-mob"> <a href="#">Privacy Policy</a> | <a-- href="#">Terms & Conditions</a -->

        </p><small v-html="renderUpdated"></small>
      </div>
    </div>
  </div>
  <!-- FOOTER_END -->
</template>
<script>
let namo = "common-footer";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted");
  },
  methods: {

  },
  computed: {
    renderUpdated() {
      return "Last update: Content " + new Date(dati.contentInfo.update).toLocaleDateString() + ", Catalog " + new Date(dati.catalogInfo.update).toLocaleDateString()
    }
  }
}
</script>
<style scoped>
.footer-footnote small {
  color: #8E8E8E;
  font-size: 0.7em;
}
</style>