<template>
  <div class="container-wrap--dummy"></div>
</template>
<script>
let namo = "common-header2";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted");
  },
  methods: {

  }
}
</script>
<style>
</style>