<template>
  <div class="mobile-panel">
    <div class="wrap">
      <div class="wrap_float">
        <div class="mobile-btn" id="js-menu-open">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <router-link class="logo" to="/home"><img src="img/elettrologo.svg" class="elettrologo">elettroLudica</router-link>
        <div class="search-button"></div>
      </div>
    </div>
  </div>
</template>
<script>
let namo = "common-header1";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted");
  },
  methods: {

  }
}
</script>
<style>
</style>