<template>
  <div class="top-panel top-panel-wide fixed" id="js-panel">
    <div class="wrap wrap-wide">
      <div class="wrap_float">
        <div class="mode-check">
          <input type="checkbox" id="mode-checkbox" class="mode-checkbox-input">
          <label for="mode-checkbox" class="mode-checkbox-label" data-dark-title="Dark Mode" data-light-title="Light Mode"></label>
        </div>
        <div class="wrap">
          <router-link class="logo" to="/"><img src="img/elettrologo.svg" class="elettrologo">elettroLudica</router-link>
          <div class="wrap-center">
            <!--div class="currency-wrap">
              <label for="currency-select" class="currency-label">Language</label>
              <select class="currency-select" id="currency-select">
                <option value="it">&nbsp;ITA</option>
                <option value="en">ENG</option>
              </select>
            </div -->
            <div class="menu" id="js-menu">
              <ul>
                <li>
                  <a href="#">{{ languageLabels["header-title-col1"].label }}</a>
                  <ul>
                    <li><router-link to="/home">{{ languagePages["page-home"].label }}</router-link></li>
                    <li v-if="config.pages.about"><router-link to="/about">{{ languagePages["page-about"].label }}</router-link></li>
                    <li v-if="config.pages.location"><router-link to="/location">{{ languagePages["page-location"].label }}</router-link></li>
                    <li v-if="config.pages.services"><router-link to="/services">{{ languagePages["page-services"].label }}</router-link></li>
                    <li v-if="config.pages.happenings"><router-link to="/happenings">{{ languagePages["page-happenings"].label }}</router-link></li>
                    <li v-if="config.pages.contacts"><router-link to="/contacts">{{ languagePages["page-contacts"].label }}</router-link></li>
                    <li v-if="config.pages.donate"><router-link to="/donate">{{ languagePages["page-donate"].label }}</router-link></li>
                    <li v-if="config.pages.credits"><router-link to="/credits">{{ languagePages["page-credits"].label }}</router-link></li>
                  </ul>
                </li>
                <li v-if="config.pages.orari">
                  <router-link to="/orari">{{ languagePages["page-orari"].label }}</router-link>
                </li>
                <li v-if="config.modules.catalog">
                  <router-link to="/catalog">{{ languagePages["page-catalog"].label }}</router-link>
                </li>
                <li v-if="config.pages.mappa">
                  <router-link to="/map" :title="languagePages['page-map'].label">{{ languagePages["page-map2"].label }}</router-link>
                </li>
                <li v-if="config.pages.tour">
                  <router-link to="/tour" :title="languagePages['page-tour'].label">{{ languagePages["page-tour2"].label }}</router-link>
                </li>
                <li>
                  <a href="#">{{ languageLabels["header-title-col5"].label }}</a>
                  <ul>
                    <li v-if="config.modules.news"><router-link to="/news">{{ languagePages["page-news"].label }}</router-link></li>
                    <li v-if="config.modules.events"><router-link to="/events">{{ languagePages["page-events"].label }}</router-link></li>
                    <li v-if="config.modules.gallery"><router-link to="/gallery">{{ languagePages["page-gallery"].label }}</router-link></li>
                    <li v-if="config.modules.pubs"><router-link to="/pubs">{{ languagePages["page-pubs"].label }}</router-link></li>
                  </ul>
                </li>
              </ul>
              <ul v-if="config.pages.qr">
                <li class="login-li"><router-link to="/qr"  class="login-link getModal" :title="languagePages['page-qr'].label">{{ languagePages["page-qr2"].label }}</router-link></li>
              </ul>
              <!-- ul>
                <li class="login-li"><a data-href="#modal-login" class="login-link getModal">Login</a></li>
              </ul -->
            </div>
          </div>
        </div>
        <div class="search-button" id="btn-search"></div>
      </div>
      <div class="socials">
        <a class="soc-link" href="https://www.facebook.com/elettroLudica">
          <img src="img/facebook-icon.svg" class="img-svg" alt="">
        </a>
        <a class="soc-link" href="https://twitter.com/elettroLudica">
          <img src="img/twitter-soc-icon.svg" class="img-svg" alt="">
        </a>
        <a class="soc-link" href="https://www.instagram.com/elettroludica">
          <img src="img/instagram-icon.svg" class="img-svg" alt="">
        </a>
        <a class="soc-link" href="https://www.youtube.com/channel/UChtXJSE9k5fWEjIoh-7Ae6w">
          <img src="img/youtube-icon.svg" class="img-svg" alt="">
        </a>
      </div>
      <div class="menu-close" id="js-menu-close"></div>
    </div>
  </div>
</template>
<script>
let namo = "common-header3";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted");
  },
  methods: {

  }
}
</script>
<style>
</style>