<template>
  <div class="bottom-message success-message" id="success-message">
        <span v-html="languageLabels['label-qr-success'].label">
        </span>
  </div>

</template>

<script>
let namo = "message-success";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created " + this.$route.name)
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted " + this.$route.name)
    $( document ).ready(function() {

    });
  },
  methods: {

  }
}
</script>

<style scoped>

</style>