<template>
  <div style="display: none;">
    <div class="modal modal_default modal_order" id="ask-question">
      <div class="modal_wrap">
        <h2 class="title">Ask a question</h2>
        <div class="subtitle">
          Please fill out the form and our manager will contact you
        </div>
        <div class="modal-form">
          <div class="input-wrap white-label">
            <input type="text" class="input" placeholder="Name">
          </div>
          <div class="input-wrap white-label">
            <input type="text" class="input" placeholder="Last name">
          </div>
          <div class="input-wrap white-label">
            <input type="text" class="input" placeholder="Contact Number">
          </div>
          <div class="input-wrap white-label">
            <input type="text" class="input" placeholder="Email Address">
          </div>
          <div class="input-wrap white-label fullwidth">
            <textarea class="input textarea" placeholder="Your question"></textarea>
          </div>
          <div class="agreement">
            <input type="checkbox" class="agreement-checkbox" id="agree-1c">
            <label for="agree-1c" class="agreement-label">
                            <span>
                                I accept the conditions of transmitting information
                            </span>
            </label>
          </div>
          <button class="btn submit-btn">
            <span>Submit</span>
          </button>
        </div>
      </div>
      <div class="modal_close"></div>
    </div>
  </div>


</template>

<script>
let namo = "modal-ask-question";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created " + this.$route.name)
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted " + this.$route.name)
    $( document ).ready(function() {

    });
  },
  methods: {

  }
}
</script>

<style scoped>

</style>