<template>

  <div style="display: none;">
    <div class="modal modal_default modal_reset" id="modal-reset-password">
      <div class="modal_wrap">
        <h2 class="title">Forgot password?</h2>
        <div class="subtitle">
          Use the e-mail and password that you specified when registering on the site
        </div>
        <div class="modal-form">
          <div class="input-wrap white-label">
            <input type="text" class="input" placeholder="Email">
          </div>
          <button class="btn submit-btn">
            <span>Reset Password</span>
          </button>
        </div>
        <div class="modal-info">
          <p>Don’t have an account? <a data-href="#modal-registration" class="getModal">Create your own right now.</a></p>
        </div>
      </div>
      <div class="modal_close"></div>
    </div>
  </div>

</template>

<script>
let namo = "modal-reset-password";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created " + this.$route.name)
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted " + this.$route.name)
    $( document ).ready(function() {

    });
  },
  methods: {

  }
}
</script>

<style scoped>

</style>