<template>
  <div style="display: none;">
    <div class="modal modal_default modal_order" id="book-now">
      <div class="modal_wrap">
        <h2 class="title">Please fill in this quick form</h2>
        <div class="subtitle">
          Your personal travel expert will get back to you in a few hours to introduce themselves and start planning an exceptional holiday experience with you.
        </div>
        <div class="modal-form">
          <div class="input-wrap date-wrap white-label">
            <input type="text" class="input js_calendar" placeholder="When would you like to travel?" readonly>
          </div>
          <div class="input-wrap date-wrap white-label">
            <input type="text" class="input js_calendar" placeholder="When do you plan to come back?" readonly>
          </div>
          <div class="input-wrap white-label">
            <input type="text" class="input" placeholder="Name">
          </div>
          <div class="input-wrap white-label">
            <input type="text" class="input" placeholder="Surname">
          </div>
          <div class="input-wrap white-label">
            <input type="tel" class="input js-tel" placeholder="Contact Number">
          </div>
          <div class="input-wrap white-label">
            <input type="email" class="input" placeholder="Email Address">
          </div>
          <div class="input-wrap white-label fullwidth">
            <textarea class="input textarea" placeholder="More details about your trip"></textarea>
          </div>
          <div class="agreement">
            <input type="checkbox" class="agreement-checkbox" id="agree-1b">
            <label for="agree-1b" class="agreement-label">
                            <span>
                                I accept the conditions of transmitting information
                            </span>
            </label>
          </div>
          <button class="btn submit-btn">
            <span>Submit</span>
          </button>
        </div>
      </div>
      <div class="modal_close"></div>
    </div>
  </div>

</template>

<script>
let namo = "modal-book-now";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created " + this.$route.name)
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted " + this.$route.name)
    $( document ).ready(function() {

    });
  },
  methods: {

  }
}
</script>

<style scoped>

</style>