<template>
  <div style="display: none;">
    <div class="modal modal_default modal_success" id="modal-reset-password-success">
      <div class="modal_wrap">
        <div class="success-icon"></div>
        <h2 class="title">Success</h2>
        <div class="subtitle">
          Your message was successfully sent. We will contact you shortly
        </div>
      </div>
      <div class="modal_close"></div>
    </div>
  </div>
</template>

<script>
let namo = "modal-reset-password-success";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created " + this.$route.name)
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted " + this.$route.name)
    $( document ).ready(function() {

    });
  },
  methods: {

  }
}
</script>

<style scoped>

</style>