<template>
  <div style="display: none;">
    <div class="modal modal_default modal_registration" id="modal-registration">
      <div class="modal_wrap">
        <h2 class="title">Sign up</h2>
        <div class="modal-form">
          <div class="input-wrap white-label">
            <input type="text" class="input" placeholder="Email">
          </div>
          <div class="input-wrap white-label password-field">
            <input type="password" class="input password-input" placeholder="Password">
            <button class="show-password-btn"></button>
          </div>
          <div class="agreement">
            <input type="checkbox" class="agreement-checkbox" id="agree-1">
            <label for="agree-1" class="agreement-label">
                            <span>
                                I accept the conditions of transmitting information
                            </span>
            </label>
          </div>
          <button class="btn submit-btn">
            <span>Sign up</span>
          </button>
          <div class="authorization-socials">
            <div class="authorization-socials-variants">
              <div class="socials">
                <div class="soc-link">
                  <img src="img/facebook-icon.svg" class="img-svg" alt="">
                </div>
                <div class="soc-link">
                  <img src="img/twitter-soc-icon.svg" class="img-svg" alt="">
                </div>
                <div class="soc-link">
                  <img src="img/behance-icon.svg" class="img-svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-info">
          <p>Have an account? <a href="#modal-login" class="getModal">Sign in your right now.</a></p>
        </div>
      </div>
      <div class="modal_close"></div>
    </div>
  </div>

</template>

<script>
let namo = "modal-registration";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created " + this.$route.name)
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted " + this.$route.name)
    $( document ).ready(function() {

    });
  },
  methods: {

  }
}
</script>

<style scoped>

</style>