<template>
  <div class="search-section">
    <div class="wrap">
      <div class="wrap_float">
        <div class="search-form">
          <input type="text" id="search-input" class="search-input" placeholder="Ricerca per: Nome, Produttore, Anno, Nazione" title="inserire un testo senza spazi">
          <button class="search-submit" @click="faiRicerca"></button>
        </div>
        <div class="search-close" id="search-close"></div>
      </div>
    </div>
  </div>
</template>

<script>
let namo = "common-search";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created " + this.$route.name)
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted " + this.$route.name)
    $( document ).ready(function() {

    });
  },
  methods: {
    faiRicerca() {
      if (jQuery("#search-input").val() && jQuery("#search-input").val() != "") {
          jQuery("#search-close").trigger("click");
          jQuery("#search-input").blur();
          router.push("/search/" + jQuery("#search-input").val());
      } else {
        jQuery("#search-close").trigger("click");
      }
    }
  }
}
</script>

<style scoped>

</style>