<template>
  <div class="page-wrap archive-page">
    <div class="breadcrumbs breadcrumbs-wide">
      <div class="wrap">
        <div class="wrap_float">
          <router-link to="/home">{{ languagePages["page-home"].label }}</router-link> / <span class="current">{{ languagePages["page-about"].label }}</span>
        </div>
      </div>
    </div>
    <div class="archive-body wp-content">
      <div class="wrap">
        <div class="wrap_float">
          <h1 class="page-title">
            {{ languagePages["page-about"].label }}
          </h1>


          <div class="post-image" style="clear: both">
            <img src="img/elettrologo_512.png" alt="elettroLudica">
          </div>

          <div class="post-description">
            elettroLudica
          </div>
          <p>L'Associazione Culturale elettroLudica si propone di preservare e valorizzare il vasto patrimonio delle macchine da intrattenimento elettromeccanico ed elettronico e quanto più materiale possibile a esse collegato. Sono inclusi, tra gli altri, i flipper, i giochi da sala, le console e gli home computer.</p>
<p>
            Il Museo dell'Intrattenimento Elettronico rappresenta l'estensione fisica degli intenti di conservazione e divulgazione dell'Associazione, che punta ad accogliere presso la struttura tanto gli appassionati del settore quanto i neofiti, al fine di rendere nota e accessibile a tutti la lunga e articolata storia dell'intrattenimento elettronico.
          </p>



          <div class="post-description">
            Il Retrogaming
          </div>
          <p>Con il termine 'retrogaming' viene descritto nella sua totalità il prepotente ritorno in auge dei videogiochi, delle console, degli home computer e di tutte le macchine da intrattenimento del passato.
          </p>
          <p>
            Si tratta di un autentico fenomeno di costume che si è espanso a gran velocità negli ultimi dieci anni e ha dato vita a realtà totalmente nuove, tra le quali figurano le strutture come il Museo dell'Intrattenimento Elettronico curato dall'Associazione e le piccole compagnie che producono nuovi giochi commerciali di livello professionale per console e computer originariamente distribuiti tra gli anni '80 e '90.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
let namo = "page-about";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted" );
    if (inDebug) console.log( this.$route.name? this.$route.name  + " " + this.$route.params : namo)
  },
  methods: {

  }
}
</script>
<style scoped>
</style>


