<template xmlns="http://www.w3.org/1999/html">
  <div class="page-wrap archive-page">
    <div class="breadcrumbs breadcrumbs-wide">
      <div class="wrap">
        <div class="wrap_float">
          <router-link to="/home">{{ languagePages["page-home"].label }}</router-link> / <span class="current">{{ languagePages["page-catalog"].label }}</span>
        </div>
      </div>
    </div>
    <div class="archive-body">
      <div class="wrap">
        <div class="wrap_float">
          <h1 class="page-title" v-if="temp.routeName == 'page-search'">{{ languagePages["page-search"].label }} &quot;{{id}}&quot;</h1>
          <h1 class="page-title" v-else>{{ languagePages["page-catalog"].label }}</h1>
          <h5 class="arancion" v-if="temp.routeName == 'page-search'">{{ languageLabels["label-search-inallestimento"].label }}</h5>
          <h5 class="arancion" v-else>{{ languageLabels["label-catalog-inallestimento"].label }}</h5>
          <br>
          <div class="archive-panel">
            <div>{{catalog.length}} {{ languageLabels["label-items"].label }}</div>
            <div class="sort-wrapper">
              <select class="sort-select" id="filter-Ordinamento" @change="applySort">
                <option value="Inventario">{{ languageLabels["label-ordinamento-Inventario"].label }}</option>
                <option value="Denominazione">{{ languageLabels["label-ordinamento-Denominazione"].label }}</option>
                <option value="Tipologia">{{ languageLabels["label-ordinamento-Tipologia"].label }}</option>
                <option value="Produttore">{{ languageLabels["label-ordinamento-Produttore"].label }}</option>
                <option value="Nazione">{{ languageLabels["label-ordinamento-Nazione"].label }}</option>
                <option value="Anno">{{ languageLabels["label-ordinamento-Anno"].label }}</option>
                <option value="Collocazione">{{ languageLabels["label-ordinamento-Collocazione"].label }}</option>
              </select>
              <select class="sort-select" id="filter-Direzione" @change="applySort">
                <option value="asc">{{ languageLabels["label-ordinamento-Asc"].label }}</option>
                <option value="desc">{{ languageLabels["label-ordinamento-Desc"].label }}</option>
              </select>

              <a  v-if="temp.routeName != 'page-search'" href="javascript:void(0);" @click="resetForm()" class="login-link resetta" :title='languageLabels["label-filtri-resetta2"].label'>{{ languageLabels["label-filtri-resetta"].label }}</a>
            </div>
          </div>

          <div class="filter-overlay"></div>
          <div class="filter-panel" v-if="temp.routeName != 'page-search'">
            <div class="filter-item" id="filter-Tipologia">
              <div class="filter-item-field">
                <div class="label">{{ languageLabels["label-filtro-Tipologia"].label }} ({{filterTipologia.length}})</div>
                <div class="filter-item-value">
                  <span class="selected-text">{{ languageLabels["label-filtri-selected"].label }}</span>
                  <div class="filter-count">0</div>
                </div>
              </div>
              <div class="filter-item-options">
                <div class="options-list checkbox-list">
                  <div v-for="(item, index) in filterTipologia"><input type="checkbox" :id="'exp-'+index" name="experiences-input" :value="item.label">
                    <label :for="'exp-'+index">{{item.label}}</label>
                  </div>
                </div>
                <div class="filter-btn-wrap">
                  <div class="filter-btn apply-btn">{{ languageLabels["label-applica"].label }}</div>
                </div>
              </div>
            </div>
            <div class="filter-item" id="filter-Produttore">
              <div class="filter-item-field">
                <div class="label">{{ languageLabels["label-filtro-Produttore"].label }} ({{filterProduttore.length}})</div>
                <div class="filter-item-value">
                  <span class="selected-text">{{ languageLabels["label-filtri-selected"].label }}</span>
                  <div class="filter-count">0</div>
                </div>
              </div>
              <div class="filter-item-options">
                <div class="options-list checkbox-list">
                  <div v-for="(item, index) in filterProduttore"><input type="checkbox" :id="'duration-'+index" name="duration-input" :value="item.label">
                    <label :for="'duration-'+index">{{item.label}}</label>
                  </div>
                </div>
                <div class="filter-btn-wrap">
                  <div class="filter-btn apply-btn">{{ languageLabels["label-applica"].label }}</div>
                </div>
              </div>
            </div>
            <div class="filter-item" id="filter-Nazione">
              <div class="filter-item-field">
                <div class="label">{{ languageLabels["label-filtro-Nazione"].label }} ({{filterNazione.length}})</div>
                <div class="filter-item-value">
                  <span class="selected-text">{{ languageLabels["label-filtri-selected"].label }}</span>
                  <div class="filter-count">0</div>
                </div>
              </div>
              <div class="filter-item-options">
                <div class="options-list checkbox-list">
                  <div v-for="(item, index) in filterNazione"><input type="checkbox" :id="'country-'+index" name="country-input" :value="item.label">
                    <label :for="'country-'+index">{{item.label}}</label>
                  </div>
                </div>
                <div class="filter-btn-wrap">
                  <div class="filter-btn apply-btn">{{ languageLabels["label-applica"].label }}</div>
                </div>
              </div>
            </div>
            <div class="filter-item" id="filter-Anno">
              <div class="filter-item-field">
                <div class="label">{{ languageLabels["label-filtro-Anno"].label }} ({{filterAnno.length}})</div>
                <div class="filter-item-value">
                  <span class="selected-text">{{ languageLabels["label-filtri-selected"].label }}</span>
                  <div class="filter-count">0</div>
                </div>
              </div>
              <div class="filter-item-options">
                <div class="options-list checkbox-list">
                  <div v-for="(item, index) in filterAnno"><input type="checkbox" :id="'m-'+index" name="month-input" :value="item.label">
                    <label :for="'m-'+index">{{item.label}}</label>
                  </div>
                </div>
                <div class="filter-btn-wrap">
                  <div class="filter-btn apply-btn">{{ languageLabels["label-applica"].label }}</div>
                </div>
              </div>
            </div>

            <div class="filter-item" id="filter-Collocazione">
              <div class="filter-item-field">
                <div class="label">{{ languageLabels["label-filtro-Collocazione"].label }} ({{filterCollocazione.length}})</div>
                <div class="filter-item-value">
                  <span class="selected-text">{{ languageLabels["label-filtri-selected"].label }}</span>
                  <div class="filter-count">0</div>
                </div>
              </div>
              <div class="filter-item-options">
                <div class="options-list checkbox-list">
                  <div v-for="(item, index) in filterCollocazione"><input type="checkbox" :id="'clc-'+index" name="collocazione-input" :value="item.label">
                    <label :for="'clc-'+index">{{item.label}}</label>
                  </div>
                </div>
                <div class="filter-btn-wrap">
                  <div class="filter-btn apply-btn">{{ languageLabels["label-applica"].label }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="page-wrap-content wp-content">
            <!-- h2>Table Large</h2 -->
            <table>
              <thead>
              <tr>
                <th>{{ languageLabels["label-table-Inventario"].label }}</th>
                <th>{{ languageLabels["label-table-Tipologia"].label }}</th>
                <th>{{ languageLabels["label-table-Denominazione"].label }}</th>
                <th>{{ languageLabels["label-table-Produttore"].label }}</th>
                <th>{{ languageLabels["label-table-Nazione"].label }}</th>
                <th>{{ languageLabels["label-table-Anno"].label }}</th>
                <th>{{ languageLabels["label-table-Collocazione"].label }}</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(item, index) in catalog" v-if="index >= temp.pageSize * temp.currentPage && index <= temp.pageSize * (temp.currentPage+1)">
                <td><router-link :to="'/item/'+item.Inventario">{{item.Inventario}}</router-link></td>
                <td>{{item.Tipologia}}</td>
                <td><b>{{item.Denominazione}}</b></td>
                <td>{{item.Produttore}}</td>
                <td>{{item.Nazione}}</td>
                <td>{{item.Anno}}</td>
                <td>{{item.Collocazione}}</td>
              </tr>
              </tbody>
            </table>

            <div class="pagination centered">
              <div class="pagination-links">
                <a v-for="p in Math.ceil(catalog.length/temp.pageSize)" href="javascript:void(0);" @click="setPage(p-1)" :class="renderClass(p-1)">{{p}}</a>
                <!-- span class="pag-link extend">...</span -->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</template>
<script>
let namo = "page-catalog";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted" );
    if (inDebug) console.log( this.$route.name? this.$route.name  + " " + this.$route.params : namo)

    if (dati.temp.routeName == "page-search") {
      catalog_applyFilters()
    } else {
      //filters
      if (jQuery(".filter-item").length) {
        jQuery(".filter-item .filter-item-field").on("click", function (e) {
          e.preventDefault();
          var thisOptions = jQuery(this),
              thisFilterItem = jQuery(this).parent(),
              thisOptions = thisFilterItem.children(".filter-item-options");

          if (thisOptions.is(":visible")) {
            jQuery(".filter-panel").removeClass("opened");
            jQuery(".filter-overlay").fadeOut(100);
          } else {
            jQuery(".filter-panel").addClass("opened");
            jQuery(".filter-overlay").fadeIn(100);
          }

          jQuery(".filter-item .filter-item-options").not(thisOptions).hide();
          thisOptions.fadeToggle(0);

          if (window.innerWidth <= 1000) {
            jQuery(".filter-panel").addClass("z-index");
            jQuery("html, body").addClass("locked");
            jQuery("body").addClass("margin-fix");
            popupFunction();
          }
        });

        jQuery(".filter-item .apply-btn").on("click", function (e) {
          e.preventDefault();
          var thisFilterItem = jQuery(this).parents(".filter-item"),
              thisOptions = thisFilterItem.children(".filter-item-options"),
              valueSpan = thisFilterItem.find(".selected-text"),
              valueSpanText = valueSpan.text();

          thisOptions.hide();
          jQuery(".filter-overlay").fadeOut(100);
          jQuery(".filter-panel").removeClass("opened");

          var checkList = thisOptions.find("input[type=checkbox]:checked");
          var radioList = thisOptions.find("input[type=radio]:checked");
          var filterCountSpan = thisFilterItem.find(".filter-count");

          if (checkList.length) {
            filterCountSpan.text(checkList.length);
            filterCountSpan.addClass("selected");
          } else {
            filterCountSpan.text("0");
            filterCountSpan.removeClass("selected");
          }

          if (radioList.length) {
            valueSpan.text(radioList.val());
          }

          if (window.innerWidth <= 1000) {
            jQuery(".filter-panel").removeClass("z-index");
            jQuery("html, body").removeClass("locked");
            jQuery("body").removeClass("margin-fix");
            popupCloseFunction();
          }
          dati.temp.currentPage = 0;
          catalog_applyFilters();
        });
      }

      jQuery(document).mouseup(function (e) {
        var div = jQuery(".filter-item");
        if (!div.is(e.target)
            && div.has(e.target).length === 0) {
          jQuery(".filter-item-options").hide();
          jQuery(".filter-panel").removeClass("opened");
          jQuery(".filter-overlay").fadeOut(100);
       //   jQuery(".filter-item .apply-btn").trigger("click");

          if (window.innerWidth <= 1000) {
            jQuery(".filter-panel").removeClass("z-index");
          }
        }
      });
      dati.temp.currentPage = 0;
      catalog_applySort();
      //filters
    }
  },
  methods: {
    applySort() {
      dati.temp.currentPage = 0;
      catalog_applySort();
    },
    setPage(p) {
      dati.temp.currentPage = p;
    },
    renderClass(p) {
      var classe = "pag-link";
     if (dati.temp.currentPage == p) classe+= " current";
     return classe
    },
    resetForm() {
      jQuery("#filter-Ordinamento").val("Inventario");
      jQuery("#filter-Direzione").val("asc");
      jQuery("#filter-Tipologia").find("input[type=checkbox]").prop("checked", false);
      jQuery("#filter-Produttore").find("input[type=checkbox]").prop("checked", false);
      jQuery("#filter-Nazione").find("input[type=checkbox]").prop("checked", false);
      jQuery("#filter-Anno").find("input[type=checkbox]").prop("checked", false);
      jQuery("#filter-Collocazione").find("input[type=checkbox]").prop("checked", false);

      var fcount1 = jQuery("#filter-Tipologia").find(".filter-count");
      fcount1.text("0");
      fcount1.removeClass("selected");

      var fcount2 = jQuery("#filter-Produttore").find(".filter-count");
      fcount2.text("0");
      fcount2.removeClass("selected");

      var fcount3 = jQuery("#filter-Nazione").find(".filter-count");
      fcount3.text("0");
      fcount3.removeClass("selected");

      var fcount4 = jQuery("#filter-Anno").find(".filter-count");
      fcount4.text("0");
      fcount4.removeClass("selected");

      var fcount5 = jQuery("#filter-Collocazione").find(".filter-count");
      fcount5.text("0");
      fcount5.removeClass("selected");

      dati.temp.currentPage = 0;
      catalog_applyFilters();
    }
  }
}
</script>
<style scoped>
.sort-wrapper {
  margin: 5px 0 10px 0;
  text-align: right;
  width: 100%;
}
.sort-select  {
  display: inline-block;
  direction: unset;
  padding: 5px 18px 5px 14px;
}
.sort-select option {
  color: #333;
  background: #eee;
  font-size-adjust: 0.5;
}
td a {
  color: #0D84FB;
}
table {
  margin-top: 0;
  width: 100%;
}
.login-link.resetta {
  float: right;
  margin-left: 20px;
}
.filter-item {
  width: 220px;
}
.filter-item:nth-child(4n) {
  margin-right: 20px;
}
.filter-item:nth-child(5n) {
  margin-right: 0;
}

.arancion {
  color: #FFAA00;
}
</style>


