<template>
  <div class="page-wrap archive-page">
    <div class="breadcrumbs breadcrumbs-wide">
      <div class="wrap">
        <div class="wrap_float">
          <router-link to="/home">{{ languagePages["page-home"].label }}</router-link> / <span class="current">{{ languagePages["page-contacts"].label }}</span>
        </div>
      </div>
    </div>
    <div class="archive-body wp-content">
      <div class="wrap">
        <div class="wrap_float">
          <h1 class="page-title">
            {{ languagePages["page-contacts"].label }}
          </h1>

          <div class="post-image" style="clear: both">
            <img src="img/elettrologo_512.png" alt="elettroLudica">
          </div>

          <div class="post-description">
            Museo dell'Intrattenimento Elettronico<br>
            Via Sandro Pertini, 105 - 67051 Avezzano (AQ) - Italia
          </div>
          <p>
            L'Associazione Culturale elettroLudica può essere raggiunta all’indirizzo e-mail <a href="mailto:info@elettroludica.it">info@elettroludica.it</a> per qualsiasi richiesta di informazioni. </p>
          <p>
            È inoltre disponibile il numero di telefono <a href="sms:+393534287649&body=Ciao%2520elettroLudica">+39.353.428.76.49</a> per le comunicazioni con l’Associazione, anche tramite WhatsApp e Telegram.
          </p>
          <p>
            I profili dell’Associazione sui social network e sulle piattaforme dedicate alla condivisione di contenuti sono i seguenti:
          </p>
          <p>
          <a href="https://www.facebook.com/elettroLudica" class="soc-link">
            <img src="img/facebook-icon.svg" class="img-svg" alt=""> &nbsp; Facebook
          </a> </p>
          <p>
          <a href="https://twitter.com/elettroLudica" class="soc-link">
            <img src="img/twitter-soc-icon.svg" class="img-svg" alt=""> &nbsp; Twitter
          </a> </p>
          <p>
          <a href="https://www.instagram.com/elettroludica" class="soc-link">
            <img src="img/instagram-icon.svg" class="img-svg" alt=""> &nbsp; Instagram
          </a> </p>
          <p>
          <a class="soc-link" href="https://www.youtube.com/channel/UChtXJSE9k5fWEjIoh-7Ae6w">
            <img src="img/youtube-icon.svg" class="img-svg" alt=""> &nbsp; You Tube
          </a> </p>



        </div>
      </div>
    </div>
  </div>
</template>
<script>
let namo = "page-contacts";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted" );
    if (inDebug) console.log( this.$route.name? this.$route.name  + " " + this.$route.params : namo)
  },
  methods: {

  }
}
</script>
<style scoped>
.wp-content a { text-decoration: none}
</style>


