<template>
  <div class="page-wrap archive-page">
    <div class="breadcrumbs breadcrumbs-wide">
      <div class="wrap">
        <div class="wrap_float">
          <router-link to="/home">{{ languagePages["page-home"].label }}</router-link> / <span class="current">{{ languagePages["page-credits"].label }}</span>
        </div>
      </div>
    </div>
    <div class="archive-body">
      <div class="wrap">
        <div class="wrap_float">
          <h1 class="page-title">
            {{ languagePages["page-credits"].label }}
          </h1>
          <div class="author-list-section">
            <div class="wrap wrap-center">
              <div class="wrap_float">
                 <div class="author-list">


                  <a class="author-list-item" v-for="(item,index) in credits">
                    <div class="author-image">
                      <img :src="'img_credits/'+item.img" alt="" class="image-cover">
                    </div>
                    <p class="author-name">
                      {{ item.nome }}
                    </p>
                    <div class="author-posts">
                      {{ item.ruolo }}
                    </div>
                  </a>


                </div>
				
				<p><br><br><small>Stock photos taken from Pexels</small></p>
				
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
</template>
<script>
let namo = "page-credits";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted" );
    if (inDebug) console.log( this.$route.name? this.$route.name  + " " + this.$route.params : namo)
  },
  methods: {

  }
}
</script>
<style scoped>
a.author-list-item, a.author-list-item *{
  cursor: default;
}
</style>


