<template>
  <div class="page-wrap archive-page">
    <div class="breadcrumbs breadcrumbs-wide">
      <div class="wrap">
        <div class="wrap_float">
          <router-link to="/home">{{ languagePages["page-home"].label }}</router-link> / <span class="current">{{ languagePages["page-donate"].label }}</span>
        </div>
      </div>
    </div>
    <div class="archive-body wp-content">
      <div class="wrap">
        <div class="wrap_float">
          <h1 class="page-title">
            {{ languagePages["page-donate"].label }}
          </h1>
          <div class="post-image" style="clear: both">
            <img src="img/elettrologo_512.png" alt="elettroLudica">
          </div>

          <div class="post-description"></div>
          <p>Al fine di incrementare il parco macchine del Museo dell’Intrattenimento Elettronico e di fornire ai visitatori uno sguardo sempre più ampio sulla storia dei flipper, dei giochi da sala, dei computer e delle console, l’Associazione Culturale elettroLudica è sempre lieta di accettare donazioni.
          </p><p>
            Si può trattare di macchine complete, periferiche, giochi e materiale collegato agli argomenti trattati dall’Associazione, come per esempio le riviste specializzate dell’epoca, i manuali d’uso dell’hardware e del software, i cataloghi distribuiti dai produttori, i volantini pubblicitari dedicati ai cabinati da sala e via dicendo.
          </p><p>
            L’Associazione mantiene e aggiorna costantemente una lista delle persone che hanno donato il materiale esposto o conservato presso il Museo dell’Intrattenimento Elettronico, alle quali va tutta la nostra riconoscenza.
          </p>

        </div>
      </div>
    </div>
  </div>
</template>
<script>
let namo = "page-donate";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted" );
    if (inDebug) console.log( this.$route.name? this.$route.name  + " " + this.$route.params : namo)
  },
  methods: {

  }
}
</script>
<style scoped>
</style>


