<template>
  <div class="page-wrap archive-page">
    <div class="breadcrumbs breadcrumbs-wide">
      <div class="wrap">
        <div class="wrap_float">
          <router-link to="/home">{{ languagePages["page-home"].label }}</router-link> / <span class="current">{{ languagePages["page-gallery"].label }}</span>
        </div>
      </div>
    </div>



    <div class="archive-body">
      <div class="wrap">
        <div class="wrap_float">
          <h1 class="page-title">
            {{ languagePages["page-gallery"].label }}
          </h1>

        </div>
      </div>
    </div>

    <div class="post-single-wrap sticky-parent">
      <div class="single-content wp-content">
      <div class="wrap wrap-center">
        <div class="wrap_float">
          <!-- h2>Three Column Grid Wide</h2 -->
          <div class="block-columns gallery-columns columns-3 wide-columns lightgallery-on">
            <div class="block-column" v-for="(item,index) in gallery">
              <figure class="block-caption img-caption">
                <button class="zoom-btn"></button>
                <div class="img-wrap">
                  <img :src="'img_gallery/'+item.Image" :alt="item.Titolo">
                </div>
                <figcaption class="caption-text">{{item.Sottotitolo}}</figcaption>
              </figure>
            </div>
          </div>
          <!-- p>Lorem ipsum dolor sit amet</p -->
        </div>
      </div>
    </div>
    </div>
  </div>

  </div>
</template>
<script>
let namo = "page-gallery";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted" );
    if (inDebug) console.log( this.$route.name? this.$route.name  + " " + this.$route.params : namo)
  },
  methods: {

  }
}
</script>
<style scoped>
</style>


