<template>
    <div>
      <home-jumbo v-if="config.home.jumbo"></home-jumbo>
      <home-news  v-if="config.modules.news && config.home.news"></home-news>
      <home-banner v-if="config.home.banner"></home-banner>
      <home-events v-if="config.modules.events && config.home.events"></home-events>
      <home-gallery v-if="config.modules.gallery && config.home.gallery"></home-gallery>
      <home-banner2 v-if="config.home.banner2"></home-banner2>
      <home-pubs v-if="config.modules.pubs && config.home.pubs"></home-pubs>
      <home-faqs v-if="config.home.faqs"></home-faqs>
      <home-catalog v-if="config.modules.catalog && config.home.catalog"></home-catalog>
    </div>
</template>
<script>
let namo = "page-home";
const homeJumbo = httpVueLoader('../../app_components/home/jumbo.vue');
const homeNews = httpVueLoader('../../app_components/home/news.vue');
const homeCatalog = httpVueLoader('../../app_components/home/catalog.vue');
const homeFaqs = httpVueLoader('../../app_components/home/faqs.vue');
const homeBanner = httpVueLoader('../../app_components/home/banner.vue');
const homeBanner2 = httpVueLoader('../../app_components/home/banner2.vue');
const homeEvents = httpVueLoader('../../app_components/home/events.vue');
const homeGallery = httpVueLoader('../../app_components/home/gallery.vue');
const homePubs = httpVueLoader('../../app_components/home/pubs.vue');
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
    'home-jumbo': homeJumbo,
    'home-news': homeNews,
    'home-catalog': homeCatalog,
    'home-faqs': homeFaqs,
    'home-banner': homeBanner,
    'home-banner2': homeBanner2,
    'home-events': homeEvents,
    'home-gallery': homeGallery,
    'home-pubs': homePubs,
  },
  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted" );
    if (inDebug) console.log( this.$route.name? this.$route.name  + " " + this.$route.params : "page-home")
  },
  methods: {
  }
}
</script>
<style scoped>
</style>
