<template>
  <div class="page-wrap archive-page">
    <div class="breadcrumbs breadcrumbs-wide">
      <div class="wrap">
        <div class="wrap_float">
          <router-link to="/home">{{ languagePages["page-home"].label }}</router-link> / <span class="current">{{ languagePages["page-location"].label }}</span>
        </div>
      </div>
    </div>
    <div class="archive-body wp-content">
      <div class="wrap">
        <div class="wrap_float">
          <h1 class="page-title">
            {{ languagePages["page-location"].label }}
          </h1>
          <div class="post-description">
            Via Sandro Pertini, 105 - 67051 Avezzano (AQ) - Italia
          </div>

          <div class="map-block">
            <iframe src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=it&amp;q=via%20pertini%20105,%2067051%20Avezzano%20(AQ),%20Italia&t=k&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          </div>


          <div class="post-description">
            Come arrivare
          </div>
          <p>
            Avezzano si trova in Abruzzo, a soli 100km da Roma ed altrettanti circa da Pescara.<br>
            Raggiungerla è molto semplice:<br>
            <br>
            <b>AUTOSTRADA</b><br>
            A25 Roma - Pescara<br>
            Uscita di Avezzano<br>
          </p>
          <p>
            Dal casello prendere la Superstrada Sora-Avezzano, in direzione Sora.<br>
            Si puo' uscire ad Avezzano centro, seguire la Tiburtina Valeria, direzione Pescara fino a Piazza Torlonia. Procedendo dritti, una volta passati dietro Castello Orsini, imboccare Via Fucino fino a Piazza Cavour, e quindi continuare dritto in Via Pertini. Il Museo si troverà sulla sinistra.<br>
            Oppure si puo' proseguire sulla Sora-Avezzano, prendere la seconda uscita, "Area Industriale", e poi tornare leggermente verso Avezzano su Via Pertini. Il Museo si troverà sulla destra.
          </p>
          <p>
            <b>TRENO</b><br>
            Linea Roma - Pescara<br>
            Stazione di Avezzano<br>
          </p>
          <p>
            Il Museo dista circa 3Km dalla Stazione Ferroviaria.<br>
            Di fronte al Museo c'e' una fermata sia degli Autobus Urbani (SCAV - Linea 2), che degli Autobus Extra Urbani (TUA - Linea Avezzano-Luco Dei Marsi / Trasacco / Villavallelonga), il cui capolinea è proprio in prossimità della Stazione.

          </p>
          <p>
            <br>
            <img src="img/stabile.jpg" alt="Ingresso del museo">
            <b>INGRESSO</b><br>
            L'ingresso del Museo è situato nella parte destra dell'edificio, in basso.<br>
            L'ingresso diretto da Via Pertini è per lo più pedonale.<br>
            E' presente un ampio parcheggio sul retro dello stabile, raggiungibile da Via Samuel Morse (traversa di Via Pertini): percorrere circa 60m e poi girare a destra entrando nel primo cancello appena dopo la fine  dell'edificio.
          </p>



        </div>
      </div>
    </div>
  </div>
</template>
<script>
let namo = "page-location";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted" );
    if (inDebug) console.log( this.$route.name? this.$route.name  + " " + this.$route.params : namo)
  },
  methods: {

  }
}
</script>
<style scoped>
.map-block {
  display: inline-block;
}
</style>


