<template>
  <div class="page-wrap archive-page">
    <div class="breadcrumbs breadcrumbs-wide">
      <div class="wrap">
        <div class="wrap_float">
          <router-link to="/home">{{ languagePages["page-home"].label }}</router-link> / <span class="current">{{ languagePages["page-map"].label }}</span>
        </div>
      </div>
    </div>
    <div class="archive-body wp-content">
      <div class="wrap">
        <div class="wrap_float">

          <h1 class="page-title">
            <a class="goFullscreen" @click="goFullscreen">FULLSCREEN</a>
            {{ languagePages["page-map"].label }}
          </h1>
          <iframe id="mappaFrame" width="100%" height="100%"  frameborder="0"
                  marginheight="0"
                  marginwidth="0" src="/mappa/index.html"></iframe>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
let namo = "page-map";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted" );
    if (inDebug) console.log( this.$route.name? this.$route.name  + " " + this.$route.params : namo)
  },
  methods: {
    goFullscreen() {
      var elem = document.getElementById("mappaFrame");
      openFullscreen();
      function openFullscreen() {
        if (elem.requestFullscreen) {
          elem.requestFullscreen();
        } else if (elem.webkitRequestFullscreen) { /* Safari */
          elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE11 */
          elem.msRequestFullscreen();
        }
      }
    }
  }
}
</script>
<style scoped>
#mappaFrame {
  min-height: 600px;
  height: 600px;
}
a.goFullscreen {
display: inline-block; max-width: 120px; text-align:center; font-size: 12px; float: right;
  background: #005cbf; border-radius: 6px; padding: 10px; color: #ffffff; text-decoration: none;
  line-height: 16px;
}
</style>


