<template>
  <div class="page-wrap archive-page">
    <div class="breadcrumbs breadcrumbs-wide">
      <div class="wrap">
        <div class="wrap_float">
          <router-link to="/home">{{ languagePages["page-home"].label }}</router-link> / <span class="current">{{ languagePages["page-news"].label }}</span>
        </div>
      </div>
    </div>
    <div class="archive-body">
      <div class="wrap">
        <div class="wrap_float">
          <h1 class="page-title">
            {{ languagePages["page-news"].label }}
          </h1>
        </div>

        <div class="page-wrap-content">
          <div class="post-items-list posts-fullwidth">

            <router-link v-for="(item, index) in news"
                         :to="'/article/'+item.id" :class="renderClass(item)"> <!-- without-bg post-favourites-item sticky -->
              <div v-if="item.Image.indexOf('mp4')>0" class="video-bg js-video-bg" :data-video="'img_news/'+item.Image"></div>
              <img v-else :src="'img_news/'+item.Image" :alt="item.Titolo" class="post-bg-img">
              <div class="post-tags" v-html="renderTags(item)">
              </div>
              <h3 class="post-title">{{item.Titolo}}
              </h3>
              <div class="post-info">
                <div class="post-author post-info-author">
                  <div class="author-image">
                    <img src="img_news/author.png" alt="" class="image-cover">
                  </div>
                  <span>{{item.Autore}}</span>
                </div>
                <div class="post-date post-info-date">
                  {{ item.Data }}
                </div>
                <div class="post-views post-info-views">
                  {{ item.id }}
                </div>
              </div>
            </router-link>

          </div>
          <!--- div class="show-more">
            <div class="show-more-btn">
              <span>Show more</span>
            </div>
            <div class="loader">
              <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
              </svg>
            </div>
          </div-->
        </div>
      </div>
    </div>

  </div>
</template>
<script>
let namo = "page-news";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted" );
    if (inDebug) console.log( this.$route.name? this.$route.name  + " " + this.$route.params : namo)
  },
  methods: {
    renderClass(item) {
      var cout = "post-item";
      if (item.Image.indexOf("mp4")>0 ) cout+= " post-with-video";
      return cout;
    },
    renderTags(item) {
      var tout = "";
      if (item.Tags && item.Tags.length>0 && item.Tags.indexOf(";")>=0) {
        var spl = item.Tags.split(";");
        for (var n=0; n<spl.length; n++) {
          tout += '<div class="tag">'+spl[n]+'</div>'
        }
      }
      return tout;
    }
  }
}
</script>
<style scoped>
</style>


