<template>
  <div class="page-wrap archive-page">
    <div class="breadcrumbs breadcrumbs-wide">
      <div class="wrap">
        <div class="wrap_float">
          <router-link to="/home">{{ languagePages["page-home"].label }}</router-link> / <span class="current">{{ languagePages["page-orari"].label }}</span>
        </div>
      </div>
    </div>
    <div class="archive-body">
      <div class="wrap">
        <div class="wrap_float">
          <h1 class="page-title">
            {{ languagePages["page-orari"].label }}
          </h1>

          <div class="author-list-section">
            <div class="wrap wrap-center">
              <div class="wrap_float">
                <h4 v-html="renderPeriodo"></h4>
                <br>
                 <div class="author-list">

                  <a class="author-list-item" v-for="(item,index) in orari">
                    <p class="author-name">
                      {{ item.giorno }}  {{ item.data }}
                    </p>
                    <div class="author-posts">

                      {{ item.orario }}
                    </div>
                  </a>

                </div>
				<br>
				<p class="testoBig">Siete pregati di controllare la <a href="https://www.facebook.com/elettroLudica" target="_blank"><b>
				pagina Facebook di ElettroLudica</b></a> oppure 
				<a href="https://www.google.com/search?q=elettroludica+orari" target="_blank"><b>Google</b></a> 
				per ottenere gli orari aggiornati.</p>
				<p>
				<br><br><small>Gli ingressi verranno disciplinati in ottemperanza alle normative attualmente in vigore.</small></p>
				
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
</template>
<script>
let namo = "page-orari";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted" );
    if (inDebug) console.log( this.$route.name? this.$route.name  + " " + this.$route.params : namo)
  },
  methods: {

  },
  computed: {
    renderPeriodo() {
      var out = "Da " + dati.orari[0].giorno + " " + dati.orari[0].data + " a " + dati.orari[dati.orari.length-1].giorno + " " + dati.orari[dati.orari.length-1].data


      return out
    }
  }
}
</script>
<style scoped>
.author-list-item {
  padding-left: 65px;
}
.author-list-item .author-posts {
  font-size: 18px;
}
.displayNone { display: none }
.testoBig { font-size: 1.3em }
</style>


