<template>
  <div class="page-wrap archive-page">
    <div class="breadcrumbs breadcrumbs-wide">
      <div class="wrap">
        <div class="wrap_float">
          <router-link to="/home">{{ languagePages["page-home"].label }}</router-link> / <span class="current">{{ languagePages["page-qr"].label }}</span>
        </div>
      </div>
    </div>
    <div class="archive-body wp-content">
      <div class="wrap">
        <div class="wrap_float" v-if="temp.isHTTPS || !temp.isMobile">
          <h1 class="page-title">
            {{ languagePages["page-qr"].label }}
          </h1>
          <p v-html="languageLabels['label-qr-info'].label + '<br><br>'"> </p>
          <qrcode-stream @decode="onDecode"></qrcode-stream>
        </div>
        <div class="wrap_float" v-else>
          <h1 class="page-title">
            {{ languagePages["page-qr"].label }}
          </h1>
          <p v-html="languageLabels['label-qr-notavailable'].label + '<br><br>'"> </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
let namo = "page-qr";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted" );
    if (inDebug) console.log( this.$route.name? this.$route.name  + " " + this.$route.params : namo)
  },
  methods: {
    onDecode (decodedString) {
      console.log(decodedString)
      var marker1 = '/item/';
      var marker2 = '/i/';
      var marker = "";
      if (decodedString.lastIndexOf(marker1)>0) {
        marker = marker1;
      } else if (decodedString.lastIndexOf(marker2)>0) {
        marker = marker2;
      }
      if (marker != "") {
        var spl = decodedString.split(marker);
        var id = spl[1];
        jQuery("#success-message").addClass("visible");
        setTimeout(function () {
          jQuery("#success-message").removeClass("visible");
        }, 2000);
        router.push("/item/"+id);
      } else {
        jQuery("#error-message").addClass("visible");
        setTimeout(function () {
          jQuery("#error-message").removeClass("visible");
        }, 2000);
      }
    }
  }
}
</script>
<style scoped>
</style>


