<template>
  <div class="page-wrap archive-page">
    <div class="breadcrumbs breadcrumbs-wide">
      <div class="wrap">
        <div class="wrap_float">
          <router-link to="/home">{{ languagePages["page-home"].label }}</router-link> / <span class="current">{{ languagePages["page-services"].label }}</span>
        </div>
      </div>
    </div>
    <div class="archive-body wp-content">
      <div class="wrap">
        <div class="wrap_float">
          <h1 class="page-title">
            {{ languagePages["page-services"].label }}
          </h1>
          <div class="post-image" style="clear: both">
            <img src="img/elettrologo_512.png" alt="elettroLudica">
          </div>

          <div class="post-description">
            sator arepo
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dolorum dicta, asperiores ad aliquam quos labore possimus sunt voluptatibus ea cumque voluptas aperiam, sint. Et amet aliquid illo alias minima unde expedita aliquam sapiente facere. Maxime cum, atque dolorum voluptatem iusto quidem aspernatur voluptate delectus optio sunt sit fugiat eos quasi tempore non maiores autem. Totam omnis quos perspiciatis saepe.</p>



          <div class="post-description">
            tenet opera rotas
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dolorum dicta, asperiores ad aliquam quos labore possimus sunt voluptatibus ea cumque voluptas aperiam, sint. Et amet aliquid illo alias minima unde expedita aliquam sapiente facere. Maxime cum, atque dolorum voluptatem iusto quidem aspernatur voluptate delectus optio sunt sit fugiat eos quasi tempore non maiores autem. Totam omnis quos perspiciatis saepe.</p>

        </div>
      </div>
    </div>
  </div>
</template>
<script>
let namo = "page-services";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted" );
    if (inDebug) console.log( this.$route.name? this.$route.name  + " " + this.$route.params : namo)
  },
  methods: {

  }
}
</script>
<style scoped>
</style>


