<template>
  <div class="page-wrap archive-page">
    <div class="breadcrumbs breadcrumbs-wide">
      <div class="wrap">
        <div class="wrap_float">
          <router-link to="/home">{{ languagePages["page-home"].label }}</router-link> / <span class="current">{{ languagePages["page-tour"].label }}</span>
        </div>
      </div>
    </div>
    <div class="archive-body wp-content">
      <div class="wrap">
        <div class="wrap_float">
          <h1 class="page-title">
            {{ languagePages["page-tour"].label }}
          </h1>

        </div>
      </div>
    </div>
  </div>
</template>
<script>
let namo = "page-tour";
module.exports = {
  name: namo,
  props: ['dati'],
  data: function() {
    return dati
  },
  components: {
  },

  created: function (){
    if (inDebug) console.log(namo + " created");
  },
  mounted: function (){
    if (inDebug) console.log(namo + " mounted" );
    if (inDebug) console.log( this.$route.name? this.$route.name  + " " + this.$route.params : namo)
  },
  methods: {

  }
}
</script>
<style scoped>
</style>


