.app-container {
    width: inherit;
    height: inherit;
    margin: 0; padding: 0;
}
@media screen and (min-width: 1000px) {
    .menu {
        margin-left: 200px;
    }
}
.elettrologo { display:inline-block; height: 20px; width: auto;  margin-right: 3px;}